@use '../functions' as *;

$black: #000000;
$white: #ffffff;
$grey: #212121;

:root {
  --dui-color-black: #{$black};
  --dui-color-white: #{$white};

  --dui-color-grey-1000: #{shade($grey, 90%)};
  --dui-color-grey-900: #{shade($grey, 70%)};
  --dui-color-grey-800: #{shade($grey, 50%)};
  --dui-color-grey-700: #{shade($grey, 30%)};
  --dui-color-grey-600: #{shade($grey, 15%)};
  --dui-color-grey-500: #{$grey};
  --dui-color-grey-400: #{tint($grey, 15%)};
  --dui-color-grey-300: #{tint($grey, 25%)};
  --dui-color-grey-200: #{tint($grey, 40%)};
  --dui-color-grey-100: #{tint($grey, 60%)};
  --dui-color-grey-50: #{tint($grey, 80%)};
}

@include color-swatch(
  $sleet: #737B80,
  $green: #206b40,
  $yellow: #F7B33E,
  $orange: #DE5100,
  $red: #B81F12,
  $rose: #CF0A34,
  $pink: #B82590,
  $purple: #512B6B,
  $indigo: #364C9C,
  $blue: #246FD1,
  $cyan: #54C7F5,
  $teal: #279d9d
);
