:root {
  /* Palette */
  --dui-ref-palette-grey-1000: #ffffff;
  --dui-ref-palette-grey-600: #212121;
  --dui-ref-palette-grey-100: #000000;

  /* Typography */
  --dui-ref-typeface-body-family-sm: 'Lato', sans-serif;
  --dui-ref-typeface-body-weight-sm: 400;
  --dui-ref-typeface-body-size-sm: 0.65rem;
  --dui-ref-typeface-body-family-md: 'Lato', sans-serif;
  --dui-ref-typeface-body-weight-md: 400;
  --dui-ref-typeface-body-size-md: 1rem;
  --dui-ref-typeface-body-family-lg: 'Lato', sans-serif;
  --dui-ref-typeface-body-weight-lg: 400;
  --dui-ref-typeface-body-size-lg: 2rem;
}
