@use "sass:meta";

.color-section {
  padding: 0rem 2rem 2rem;

  &__blocks {
    display: flex;
    flex-wrap: wrap;
  }

  &__label {
    text-transform: uppercase;
    padding-left: 0.25rem;
    margin-bottom: 0.5rem;
    font-weight: var(--dui-typeface-body-weight-md);
  }
}

.color-block {
  margin: 0.25rem;

  &__display {
    height: 100px;
    width: 100px;
  }

  &__label {
    text-align: center;
    margin-top: 0.5rem;
  }
}

@mixin color-blocks($args...) {
  $shades: 50, 100, 200, 300, 400, 500, 600, 700, 800, 900, 1000;

  @each $var, $colors in meta.keywords($args) {
    @each $color in $colors {
      @each $shade in $shades {
        .color-block__display {
          &.#{$color}--#{$shade} {
            background-color: var(--dui-color-#{$color}-#{$shade});
          }
        }
      }
    }
  }
}

@include color-blocks(
  $colors: (
    'grey',
    'green',
    'yellow',
    'orange',
    'red',
    'rose',
    'pink',
    'purple',
    'indigo',
    'blue',
    'cyan',
    'teal'
  )
);
